<p>Hi Seedlinker:</p>
<p>Welcome to <a href="https://worldcup-2018.corp.seedlinktech.com">Seedlink Worldcup 2018 Guess.</a></p>
<p><strong>Rules:</strong></p>
<p><em>Match Guess</em></p>
<p>- Alone with real match, we will open matches round by round in advance for your guess. And close them when matches finished.</p>
<p>- You can guess against every "OPEN" match - who wins or "Draw".</p>
<p>- After matches are "CLOSE", we will calculate your "guess score" comparing your guess with match result.</p>
<p>- At the end of worldcup, who get highest score will be our champion(s).</p>
<p>- If more than one seedlinkers get "highest score", they share the honor.</p>
<p><em>Golden Player Guess</em></p>
<p>- You can guess a player who will make most goals at the end of worldcup.</p>
<p>- It's open to guess until "Group" stage ends.</p>
<p>- If more than one players get same "most goals", the one whose team survives longer is the "Golden Player".</p>
<p>- If more than one seedlinkers make right guess, they share the honor.</p>
<p>- If no seedlinker make right guess, the one whose guess player gets most goals wins.</p>
<br>
<p><strong>Instruction:</strong></p>
<p>- At the end of this mail, you will get your initial username/password</p>
<p>- Open <a href="https://worldcup-2018.corp.seedlinktech.com">Seedlink Worldcup 2018 Guess</a> and login</p>
<p>- For first time login, you need change a new password.</p>
<p>- After login, you need set "nickName" and "timezone" at the right top corner. <font color="#FF0000">Notice all match time will be displayed according to your "timezone" setting.</font></p>
<p>- Then enjoy !!!!</p>
<br>
<p><strong>Initial Account:</strong></p>
<p>username: #{userEmail}</p>
<p>password: #{userPassword}</p>
<br>
<p><strong>Support:</strong></p>
<p>If you need help, please contact <a href="mailto:kevin.kong@seedlinktech.com">Seedlink Worldcup 2018 Committee</a></p>
